@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
.footer{
    padding: 4rem 6rem;
    background-color: black;
    color: white;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top i{
    color: white;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div{
    display: flex;
    flex-direction: column
    ;
}

.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
     font-family: 'Poppins', sans-serif;
}


.bottom a{
    text-decoration: none;
    color: white;
    padding-bottom: .4rem;
    font-size: 1.1rem;
}

@media screen and (max-width:850px){
    .footer{
        padding: 4rem 2rem;
    }

    .footer i{
        margin: 1rem 1rem 0 0;
    }

    .bottom div{
width: 50%
    };
}