@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}
.chatBox {
  border-radius: 1%;
  overflow-y: auto; /* Enable vertical scrollbar */
  max-height: 400px; /* Set the maximum height for the chat box */
}

.TextBox {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(162, 162, 212);
}

.userChat {
  background-color: #3f393c; /* Set the background color for user chats */
  color: #ffffff; /* Set the text color for user chats */
}

.guideChat {
  /* Set the background color for guide chats */
  color: #ffffff; /* Set the text color for guide chats */
  border-radius: 10%;
  background-color: rgb(122, 22, 126);
}
