.card-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  flex-wrap: wrap;
   padding: 0 10px; /* Add padding to both sides of the container */
   padding-top: 4%;
}
.w-full{
    margin-left: 7%;
}
.card-item {
  flex: 1;
  margin: 0 20px; /* Adjust the margin as needed for spacing */
  
}
.mobile{
  color: rgb(2, 47, 88);
}
.title{
font-size: 20px;
text-transform: uppercase;
color: rgb(0, 0, 0),

 
}
.subTitle{
color: blueviolet;
}

.small-card {
  width: calc(33.33% - px); /* Adjust the width and margin as needed */
  
 
  margin: 0 10px 60px 10px;
   transition: transform 0.9s ease;
 
}
.heading{
    align-items: center;
    font-size: large;
    padding-left: 9rem;
}

/* Adjust the breakpoint to your desired screen size */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column; /* Stack cards vertically */
  }
}


.zoom-in-card:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  /* You can also add other styles like box-shadow to make it more prominent */
  box-shadow: 0 4px 8px rgba(88, 68, 68, 0.2);
}