@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
.destination{
    margin: 4rem 6rem;
}

.destination h1{
    font-size: 2rem;
    text-align: center;
     font-family: 'Poppins', sans-serif;
     color: #000;

}
.destinationptag{
    font-size: 1rem;
    text-align: center;
     font-family: 'Poppins', sans-serif;
     color: #000;

}

.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.first-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
    color: #000;
}


.des-text h2{
    padding-bottom: 1rem;
     font-family: 'Poppins', sans-serif;
     color: #000;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
    
}

.image img{
    width: 49%;
    height: 350px;
    object-fit:cover;
    border-radius: 6px;
     transition: 0.3s ease-in-out;
}

.image img:nth-child(2){
    position: absolute;
    top:-10%;
    right: 0;
}

@media screen and (max-width:850px){
   .destination{
    margin: 4rem 6rem;
}
.first-des{
    display: flex;
    flex-direction: column-reverse;
 
    margin-top: 2.5rem;
}
.first-des-reverse{
    display: flex;
    flex-direction: column-reverse;
 
    margin-top: 2.5rem;
}
.des-text{
    width: 100%;

}
.image{
    width: 100%;
    margin: 1.8rem 0;
}

.image img{
    height: 250px;
}
}