@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* Change the color of custom icons in the navbar */
.custom-icon {
  color: #1474c2; /* Replace with your desired color code */
}

.custom-text {
  font-family: 'Poppins', sans-serif;
}

.navbar-container {
  position: fixed;
  top: 3px;
  left: 50%; /* Position at 50% of the viewport's width */

  transform: translateX(-50%); /* Center the navbar */
  width: 99%; /* Adjust the width as needed */
  max-width: 1800px; /* Set a maximum width if necessary */
  z-index: 1000; /* Adjust the z-index if needed to ensure it's above other elements */
  /* Padding values for top and bottom, left and right */
  border-radius: 10px; /* Rounded edges */
  background-color: white; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}


/* styles.css */
.navbar {
  padding: 1rem;
  color: #333;
  background-color: #f0f0f0;
  /* ... other common styles */
}

.navbar.dark {
  color: #fff;
  background-color: #333;
  /* ... dark mode styles */
}
