@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.Table {
  font-family: 'Poppins', sans-serif;
  margin: 0 8%;
}
.Heading {
  padding-left: 8%;
  padding-top: 4%;

  font-family: 'Poppins', sans-serif;
}
.blockBtn {
  width: 100px;
}
